accelerate==0.31.0
annotated-types==0.7.0
anyio==4.4.0
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
distro==1.9.0
dnspython==2.6.1
docutils==0.21.2
filelock==3.14.0
Flask==3.0.3
Flask-Cors==4.0.1
fonttools==4.51.0
fsspec==2024.6.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.3
idna==3.7
importlib_metadata==7.1.0
intel-openmp==2021.4.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
Jinja2==3.1.4
keyring==25.2.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mathplot==0.1
matplot==0.1.9
matplotlib==3.9.0
mdurl==0.1.2
mkl==2021.4.0
more-itertools==10.2.0
mpmath==1.3.0
networkx==3.3
nh3==0.2.17
numpy==1.26.4
openai==1.37.1
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pkginfo==1.10.0
psutil==5.9.8
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
pyloco==0.0.139
pymongo==4.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-telegram-bot==21.4
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
readme_renderer==43.0
regex==2024.5.15
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
safetensors==0.4.3
SimpleWebSocketServer==0.1.2
six==1.16.0
sniffio==1.3.1
sympy==1.12.1
tbb==2021.12.0
tokenizers==0.19.1
tqdm==4.66.4
transformers==4.41.2
twine==5.0.0
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
ushlex==0.99.1
websocket-client==1.8.0
Werkzeug==3.0.3
zipp==3.18.1
